@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
  @font-face {
    font-family: font-for-lamiz-coffee;
    src: url(../fonts/Merriweather-Regular.woff);
    src: url(../fonts/Merriweather-Regular.woff2);
  }
}

@layer base {
  @font-face {
    font-family: main-font-for-project;
    src: url(../fonts/IRANSansWeb.woff2);
  }
}

@layer utilities {
  .font-main {
    font-family: "main-font-for-project", sans-serif;
  }
}

.menu-item a.active {
  color: red;
  transition: 300ms;
}

.p {
  @apply text-[rgba(255,110,31)];
}

.hover {
  @apply duration-300 hover:scale-125;
}
.cursor {
  @apply cursor-pointer mt-16 text-center flex flex-col gap-4;
}
.paragraph {
  @apply translate-y-[-2.5rem];
}

